version: '3.8'

services:
  api:
    build: .
    ports:
      - "8000:8000"
    environment:
      - MONGODB_URL=mongodb://mongo:27017
      - DB_NAME=lionhealth_db
    depends_on:
      - mongo
    volumes:
      - ./app:/app/app
      - garmindb_data:/root/.GarminDb

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
  garmindb_data:
